Welcome to the Sable IRC Network!

This is an example MOTD (Message of the Day) file.

Edit this file to customize the message shown to users when they connect.

Network Rules:
- Be respectful to other users
- No spam or flooding
- Follow the IRC etiquette

For help, join #help or contact an administrator.

Enjoy your stay!
